@charset "UTF-8";
article {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

aside {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

footer {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

main {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

section {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

abbr[title],
acronym[title] {
  display: inline;
  border-style: inherit;
  font-variant: none;
  text-decoration: inherit;
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

article {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

aside {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

footer {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

main {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

section {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

abbr[title],
acronym[title] {
  display: inline;
  border-style: inherit;
  font-variant: none;
  text-decoration: inherit;
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

ol#themes-list {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-width: 1600px;
  border: 0;
  padding: 0;
  margin: 0;
}
ol#themes-list > li.themes-button {
  display: inline-block;
  height: 24pt;
  color: var(--color-text);
  background: var(--color-foreground);
  border: 0;
  border-radius: 8pt 8pt 0 0;
  text-align: center;
  line-height: 24pt;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-family: "Merienda", sans-serif;
  font-weight: 500;
  font-size: 12pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  padding-left: 16pt;
  padding-right: 16pt;
  margin-top: 4pt;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
ol#themes-list > li.themes-button:focus, ol#themes-list > li.themes-button:hover, ol#themes-list > li.themes-button:active {
  height: 28pt;
  line-height: 28pt;
  margin-top: 0;
}
@media only screen and (max-width: 960px) {
  ol#themes-list > li.themes-button {
    display: inline;
    background: transparent;
    padding: 0;
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 8pt;
    margin-right: 8pt;
  }
  ol#themes-list > li.themes-button:focus, ol#themes-list > li.themes-button:hover, ol#themes-list > li.themes-button:active {
    height: auto;
    line-height: 24pt;
    margin-top: 4pt;
  }
}
@media only screen and (max-width: 960px) {
  ol#themes-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

p {
  width: 60%;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12pt;
}
p:not(:last-of-type) {
  margin-bottom: 8pt;
}
@media only screen and (max-width: 1280px) {
  p {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  p {
    width: 100%;
  }
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

div#brewing-preview-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
div#brewing-preview-wrapper svg#brewing-preview-icon {
  margin-right: 18pt;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
div#brewing-preview-wrapper svg#brewing-preview-icon #brewing-preview-icon-main-group {
  fill: var(--color-text);
}
@media only screen and (max-width: 720px) {
  div#brewing-preview-wrapper svg#brewing-preview-icon {
    display: none;
  }
}
div#brewing-preview-wrapper > div#brewing-preview-info > div#brewing-preview-instructions {
  margin-bottom: 6pt;
  color: var(--color-text);
  font-family: "Merienda", serif;
  font-weight: 400;
  font-size: 16pt;
}
div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-potion-effects {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
}
div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-potion-effects > li.brewing-preview-effect-name {
  padding-left: 4pt;
  margin-left: 6pt;
  color: var(--color-text);
  list-style: outside "➢";
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12pt;
}
div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-potion-effects > li.brewing-preview-effect-name::after {
  content: "(" attr(data-percentile) " percentile)";
  position: relative;
  font-size: 0.83em;
  vertical-align: super;
  margin-left: 4pt;
}
div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-ingredient-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  border: 0;
  padding: 0;
  margin: 0;
}
div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-ingredient-tags > li.brewing-preview-tag {
  display: inline-block;
  background: var(--color-form-background);
  border: 1px solid var(--color-border);
  border-radius: 4pt;
  color: var(--color-text);
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 10pt;
  padding-top: 1pt;
  padding-bottom: 1pt;
  padding-left: 2pt;
  padding-right: 2pt;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}
div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-ingredient-tags > li.brewing-preview-tag:focus, div#brewing-preview-wrapper > div#brewing-preview-info > ul#brewing-preview-ingredient-tags > li.brewing-preview-tag:hover {
  background: var(--color-form-background-focus);
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

div#searchbars {
  display: block;
  width: 75%;
  margin-bottom: 12pt;
}
div#searchbars input#ingredient-search-field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-top-left-radius: 4pt;
  border-top-right-radius: 4pt;
  margin: 0;
  background: var(--color-form-background);
  color: var(--color-text);
  cursor: text;
  appearance: none;
  -moz-appearance: none;
  -webkkit-appearance: none;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  padding-top: 4pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  font-family: "Arbutus Slab", serif;
  font-weight: 400;
  font-size: 12pt;
}
div#searchbars input#ingredient-search-field:focus, div#searchbars input#ingredient-search-field:hover, div#searchbars input#ingredient-search-field:active {
  background: var(--color-form-background-focus);
  outline: none;
}
div#searchbars select[id^=ingredient-effects-dropdown] {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  margin: 0;
  background: var(--color-form-background);
  color: var(--color-text);
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkkit-appearance: none;
  border-top: 0;
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  padding-top: 4pt;
  padding-bottom: 4pt;
  padding-left: 2pt;
  padding-right: 2pt;
  font-family: "Arbutus Slab", serif;
  font-weight: 400;
  font-size: 12pt;
}
div#searchbars select[id^=ingredient-effects-dropdown]:not(:first-of-type) {
  border-left-width: 0;
}
div#searchbars select[id^=ingredient-effects-dropdown]:first-of-type {
  border-bottom-left-radius: 4pt;
}
div#searchbars select[id^=ingredient-effects-dropdown]:last-of-type {
  border-bottom-right-radius: 4pt;
}
div#searchbars select[id^=ingredient-effects-dropdown]:focus, div#searchbars select[id^=ingredient-effects-dropdown]:hover, div#searchbars select[id^=ingredient-effects-dropdown]:active {
  background: var(--color-form-background-focus);
  outline: none;
}
@media only screen and (max-width: 800px) {
  div#searchbars select[id^=ingredient-effects-dropdown] {
    width: 50%;
  }
  div#searchbars select[id^=ingredient-effects-dropdown]:not(:first-of-type) {
    border-left-width: 1px;
  }
  div#searchbars select[id^=ingredient-effects-dropdown]:first-of-type {
    border-bottom-left-radius: 0;
  }
  div#searchbars select[id^=ingredient-effects-dropdown]:nth-of-type(2n) {
    border-left-width: 0;
  }
  div#searchbars select[id^=ingredient-effects-dropdown]:nth-last-of-type(2) {
    border-bottom-left-radius: 4pt;
  }
}
@media only screen and (max-width: 1440px) {
  div#searchbars {
    width: 80%;
  }
}
@media only screen and (max-width: 1280px) {
  div#searchbars {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  div#searchbars {
    width: 100%;
  }
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

div#extra-mods-toggles {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 75%;
}
div#extra-mods-toggles > span.extra-mods-wrapper {
  margin-bottom: 8pt;
  margin-left: 12pt;
  margin-right: 12pt;
}
div#extra-mods-toggles > span.extra-mods-wrapper > input[type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 16pt;
  height: 16pt;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}
div#extra-mods-toggles > span.extra-mods-wrapper > label {
  position: relative;
  height: 16pt;
  padding-left: 20pt;
  color: var(--color-text);
  line-height: 150%;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-family: "Arbutus Slab", serif;
  font-weight: 400;
  font-size: 12pt;
}
div#extra-mods-toggles > span.extra-mods-wrapper > label::before {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16pt;
  height: 16pt;
  background: var(--color-form-background);
  border: 1pt solid var(--color-border);
  border-radius: 4pt;
  cursor: pointer;
}
div#extra-mods-toggles > span.extra-mods-wrapper > label::after {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 3pt;
  left: 3pt;
  width: 10pt;
  height: 10pt;
  background: var(--color-border);
  border-radius: 2pt;
  cursor: pointer;
}
div#extra-mods-toggles > span.extra-mods-wrapper > input[type=checkbox] + label::after {
  content: none;
}
div#extra-mods-toggles > span.extra-mods-wrapper > input[type=checkbox]:checked + label::after, div#extra-mods-toggles > span.extra-mods-wrapper > input[type=checkbox]:hover + label::after {
  content: "";
}
div#extra-mods-toggles > span.extra-mods-wrapper > input[type=checkbox]:focus + label::before, div#extra-mods-toggles > span.extra-mods-wrapper > input[type=checkbox]:hover + label::before {
  background: var(--color-form-background-focus);
}
@media only screen and (max-width: 1440px) {
  div#extra-mods-toggles {
    width: 80%;
  }
}
@media only screen and (max-width: 1280px) {
  div#extra-mods-toggles {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  div#extra-mods-toggles {
    width: 100%;
  }
}

:root {
  --theme-alchemy-background: #52CC52;
  --theme-alchemy-foreground: #E6CF8A;
  --theme-alchemy-form-background: #FFF2CC;
  --theme-alchemy-form-background-focus: #FFF9E6;
  --theme-alchemy-border: #338033;
  --theme-alchemy-text: #0F260F;
  --theme-morn-background: #ffd9df;
  --theme-morn-foreground: #f2deb6;
  --theme-morn-form-background: #ffe1a6;
  --theme-morn-form-background-focus: #fff4bf;
  --theme-morn-border: #4d302e;
  --theme-morn-text: #261514;
  --theme-cosmogony-background: #1F1F66;
  --theme-cosmogony-foreground: #0F3299;
  --theme-cosmogony-form-background: #133EBF;
  --theme-cosmogony-form-background-focus: #002699;
  --theme-cosmogony-border: #CCAC33;
  --theme-cosmogony-text: #F2CF49;
  --theme-sanguine-background: #333333;
  --theme-sanguine-foreground: #262424;
  --theme-sanguine-form-background: #D9D9C3;
  --theme-sanguine-form-background-focus: #FFFFE6;
  --theme-sanguine-border: #D9213F;
  --theme-sanguine-text: #bf1330;
  --color-background: var(--theme-alchemy-background);
  --color-foreground: var(--theme-alchemy-foreground);
  --color-form-background: var(--theme-alchemy-form-background);
  --color-form-background-focus: var(--theme-alchemy-form-background-focus);
  --color-border: var(--theme-alchemy-border);
  --color-text: var(--theme-alchemy-text);
}

div#ingredient-search-results {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50vh;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  text-align: center;
  font-family: "Merienda", serif;
  font-weight: 400;
  font-size: 16pt;
}
div#ingredient-search-results div.ingredient-search-result {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  width: calc(33.3333333333% - 4pt);
  padding: 2pt;
  margin: 2pt;
  background: var(--color-form-background);
  border: 1px solid var(--color-border);
  border-radius: 4pt;
  cursor: pointer;
}
div#ingredient-search-results div.ingredient-search-result:focus, div#ingredient-search-results div.ingredient-search-result:hover {
  background: var(--color-form-background-focus);
  box-shadow: inset 0 0 2pt 1pt var(--color-border);
}
div#ingredient-search-results div.ingredient-search-result:active {
  box-shadow: inset 0 0 2pt 2pt var(--color-border);
}
div#ingredient-search-results div.ingredient-search-result > div.result-name {
  display: block;
  width: 100%;
  padding: 0;
  color: var(--color-text);
  text-align: left;
  font-family: "Merienda", serif;
  font-weight: 400;
  font-size: 16pt;
  margin-top: 0;
  margin-bottom: 4pt;
  margin-left: 4pt;
  margin-right: 4pt;
}
div#ingredient-search-results div.ingredient-search-result > div.result-effect {
  display: inline-block;
  width: calc(50% - 4pt);
  margin: 2pt;
  color: var(--color-text);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12pt;
}
@media only screen and (max-width: 480px) {
  div#ingredient-search-results div.ingredient-search-result > div.result-effect {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1440px) {
  div#ingredient-search-results div.ingredient-search-result {
    width: calc(50% - 4pt);
  }
}
@media only screen and (max-width: 960px) {
  div#ingredient-search-results div.ingredient-search-result {
    width: calc(100% - 4pt);
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: var(--color-background);
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

header > h1 {
  width: 100%;
  border: 0;
  padding: 0;
  color: var(--color-text);
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 36pt;
  margin-top: 24pt;
  margin-bottom: 32pt;
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (max-width: 800px) {
  header > h1 {
    font-size: 32pt;
    margin-top: 22pt;
    margin-bottom: 30pt;
  }
}
@media only screen and (max-width: 720px) {
  header > h1 {
    font-size: 28pt;
    margin-top: 20pt;
    margin-bottom: 28pt;
  }
}
@media only screen and (max-width: 600px) {
  header > h1 {
    font-size: 24pt;
    margin-top: 18pt;
    margin-bottom: 24pt;
  }
}

main {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  background: var(--color-foreground);
  border-radius: 12pt 0 12pt 12pt;
  padding-top: 24pt;
  padding-bottom: 36pt;
  padding-left: 12pt;
  padding-right: 12pt;
  margin-top: 0;
  margin-bottom: 20vh;
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (max-width: 1600px) {
  main {
    border-radius: 0;
  }
}
@media only screen and (max-width: 1280px) {
  main {
    padding-left: 8pt;
    padding-right: 8pt;
  }
}
@media only screen and (max-width: 1024px) {
  main {
    padding-top: 18pt;
    padding-bottom: 27pt;
  }
}
@media only screen and (max-width: 800px) {
  main {
    padding-top: 12pt;
    padding-bottom: 18pt;
    padding-left: 4pt;
    padding-right: 4pt;
  }
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
section:not(:first-of-type) {
  padding-top: 12pt;
}
section:not(:last-of-type) {
  padding-bottom: 24pt;
}

footer#version-info {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: center;
  width: 75%;
  margin-bottom: 5vh;
}
footer#version-info > span.version-note {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 10pt;
  margin-top: 3pt;
  margin-bottom: 0;
  margin-left: 6pt;
  margin-right: 6pt;
}
footer#version-info > span.version-note > a, footer#version-info > span.version-note > a:link, footer#version-info > span.version-note > a:visited {
  color: var(--color-text);
  text-decoration: none;
}
footer#version-info > span.version-note > a:focus, footer#version-info > span.version-note > a:hover, footer#version-info > span.version-note > a:active {
  text-decoration: underline;
}
@media only screen and (max-width: 1024px) {
  footer#version-info {
    width: calc(100% - 24pt);
  }
}

/*# sourceMappingURL=stylesheet-main.css.map */
