$breakpoint-alpha:   1600px;
$breakpoint-bravo:   1440px;
$breakpoint-charlie: 1280px;
$breakpoint-delta:   1024px;
$breakpoint-echo:    960px;
$breakpoint-foxtrot: 800px;
$breakpoint-golf:    720px;
$breakpoint-hotel:   600px;
$breakpoint-india:   480px;

@mixin when-under-breakpoint($breakpoint)
{ @media only screen and (max-width: $breakpoint) { @content; } }

@mixin when-over-breakpoint($breakpoint)
{ @media only screen and (min-width: $breakpoint) { @content; } }
