@import "colors";
@import "breakpoints";
@import "prefix-mixins";

div#brewing-preview-wrapper
{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
  svg#brewing-preview-icon
  {
    margin-right: 18pt;
    @include user-select(none);
    
    #brewing-preview-icon-main-group
    { fill: $color-brewing-text; }
    
    @include when-under-breakpoint($breakpoint-golf)
    { display: none; }
  }
  
  &>div#brewing-preview-info
  {
    &>div#brewing-preview-instructions
    {
      margin-bottom: 6pt;
      
      color: $color-brewing-text;
      
      font:
      {
        family: "Merienda", serif;
        weight: 400;
        size: 16pt;
      }
    }
    
    &>ul#brewing-preview-potion-effects
    {
      border: 0;
      padding: 0;
      
      margin:
      {
        top: 0;
        bottom: 8pt;
        left: 0;
        right: 0;
      }
      
      &>li.brewing-preview-effect-name
      {
        padding-left: 4pt;
        margin-left: 6pt;
        
        color: $color-brewing-text;
        list-style: outside "\27A2";
        
        font:
        {
          family: "Montserrat", sans-serif;
          weight: 500;
          style: italic;
          size: 12pt;
        }
        
        &::after
        {
          content: "(" attr(data-percentile) " percentile)";
          position: relative;
          font-size: 0.83em;
          vertical-align: super;
          
          margin-left: 4pt;
        }
      }
    }
    
    &>ul#brewing-preview-ingredient-tags
    {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      
      border: 0;
      padding: 0;
      margin: 0;
      
      &>li.brewing-preview-tag
      {
        display: inline-block;
        
        background: $color-brewing-background;
        border: 1px solid $color-brewing-border;
        border-radius: 4pt;
        
        color: $color-brewing-text;
        text-transform: uppercase;
        list-style: none;
        
        cursor: pointer;
        
        font:
        {
          family: "Montserrat", sans-serif;
          weight: 500;
          size: 10pt;
        }
        
        padding:
        {
          top: 1pt;
          bottom: 1pt;
          left: 2pt;
          right: 2pt;
        }
        
        margin:
        {
          top: 2pt;
          bottom: 2pt;
          left: 2pt;
          right: 2pt;
        }
        
        &:focus,
        &:hover
        {
          background: $color-brewing-background-focus;
        }
      }
    }
  }
}
