@import "colors";
@import "breakpoints";
@import "prefix-mixins";

div#extra-mods-toggles
{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  
  width: 75%;
  
  &>span.extra-mods-wrapper
  {
    margin-bottom: 8pt;
    margin-left: 12pt;
    margin-right: 12pt;
    
    &>input[type="checkbox"]
    {
      position: absolute;
      clip: rect(0 0 0 0);
      
      width: 16pt;
      height: 16pt;
      
      border: 0;
      padding: 0;
      margin: 0;
      
      opacity: 0;
      overflow: hidden;
      white-space: nowrap;
    }
    
    &>label
    {
      position: relative;
      
      height: 16pt;
      padding-left: 20pt;
      
      color: $color-form-text;
      line-height: 150%;
      
      cursor: default;
      @include user-select(none);
      
      font:
      {
        family: "Arbutus Slab", serif;
        weight: 400;
        size: 12pt;
      }
      
      &::before
      {
        display: inline-block;
        box-sizing: border-box;
        content: "";
        
        position: absolute;
        top: 0;
        left: 0;
        
        width: 16pt;
        height: 16pt;
        
        background: $color-form-background;
        border: 1pt solid $color-form-border;
        border-radius: 4pt;
        
        cursor: pointer;
      }
      
      &::after
      {
        display: inline-block;
        box-sizing: border-box;
        content: "";
        
        position: absolute;
        top: 3pt;
        left: 3pt;
        
        width: 10pt;
        height: 10pt;
        
        background: $color-form-border;
        border-radius: 2pt;
        
        cursor: pointer;
      }
    }
    
    &>input[type="checkbox"]+label::after
    { content: none; }
    
    &>input[type="checkbox"]:checked+label::after,
    &>input[type="checkbox"]:hover+label::after
    { content: ""; }
    
    &>input[type="checkbox"]:focus+label::before,
    &>input[type="checkbox"]:hover+label::before
    {
      background: $color-form-background-focus;
    }
  }
  
  @include when-under-breakpoint($breakpoint-bravo) { width: 80%; }
  @include when-under-breakpoint($breakpoint-charlie) { width: 90%; }
  @include when-under-breakpoint($breakpoint-delta) { width: 100%; }
}
