article { display: block; border: 0; padding: 0; margin: 0; }
aside   { display: block; border: 0; padding: 0; margin: 0; }
details { display: block; border: 0; padding: 0; margin: 0; }
footer  { display: block; border: 0; padding: 0; margin: 0; }
header  { display: block; border: 0; padding: 0; margin: 0; }
main    { display: block; border: 0; padding: 0; margin: 0; }
nav     { display: block; border: 0; padding: 0; margin: 0; }
section { display: block; border: 0; padding: 0; margin: 0; }

abbr[title],
acronym[title]
{
  display: inline;
  border-style: inherit;
  font-variant: none;
  text-decoration: inherit;
}
