@mixin appearance($args...)
{
           appearance: $args;
      -moz-appearance: $args;
  -webkkit-appearance: $args;
}

@mixin user-select($args...)
{
          user-select: $args;
     -moz-user-select: $args;
      -ms-user-select: $args;
  -webkit-user-select: $args;
}
