@import "colors";
@import "breakpoints";
@import "prefix-mixins";

div#searchbars
{
  display: block;
  
  width: 75%;
  margin-bottom: 12pt;
  
  input#ingredient-search-field
  {
    display: block;
    box-sizing: border-box;
    width: 100%;
    
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
    margin: 0;
    
    background: $color-form-background;
    color: $color-form-text;
    
    cursor: text;
    @include appearance(none);
    
    border:
    {
      top: 1px solid $color-form-border;
      bottom: 1px solid $color-form-border;
      left: 1px solid $color-form-border;
      right: 1px solid $color-form-border;
    }
    
    padding:
    {
      top: 4pt;
      bottom: 4pt;
      left: 6pt;
      right: 6pt;
    }
    
    font:
    {
      family: "Arbutus Slab", serif;
      weight: 400;
      size: 12pt;
    }
    
    &:focus,
    &:hover,
    &:active
    {
      background: $color-form-background-focus;
      outline: none;
    }
  }
  
  select[id^="ingredient-effects-dropdown"]
  {
    display: inline-block;
    box-sizing: border-box;
    
    width: 25%;
    margin: 0;
    
    background: $color-form-background;
    color: $color-form-text;
    
    cursor: pointer;
    @include appearance(none);
    
    border:
    {
      top: 0;
      bottom: 1px solid $color-form-border;
      left: 1px solid $color-form-border;
      right: 1px solid $color-form-border;
    }
    
    padding:
    {
      top: 4pt;
      bottom: 4pt;
      left: 2pt;
      right: 2pt;
    }
    
    font:
    {
      family: "Arbutus Slab", serif;
      weight: 400;
      size: 12pt;
    }
    
    &:not(:first-of-type) { border-left-width: 0; }
    &:first-of-type { border-bottom-left-radius: 4pt; }
    &:last-of-type { border-bottom-right-radius: 4pt; }
    
    &:focus,
    &:hover,
    &:active
    {
      background: $color-form-background-focus;
      outline: none;
    }
    
    @include when-under-breakpoint($breakpoint-foxtrot)
    {
      width: 50%;
      
      &:not(:first-of-type) { border-left-width: 1px; }
      &:first-of-type { border-bottom-left-radius: 0; }
      
      &:nth-of-type(2n) { border-left-width: 0; }
      &:nth-last-of-type(2) { border-bottom-left-radius: 4pt; }
    }
  }
  
  @include when-under-breakpoint($breakpoint-bravo) { width: 80%; }
  @include when-under-breakpoint($breakpoint-charlie) { width: 90%; }
  @include when-under-breakpoint($breakpoint-delta) { width: 100%; }
}
