@import "colors";
@import "fonts";

div#searchbars
{
  display: block;
  width: 75%;
  
  margin:
  {
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
  }
  
  input#ingredient-search-field
  {
    display: block;
    box-sizing: border-box;
    width: 100%;
    
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
    margin: 0;
    
    background: $color-searchbar-background;
    color: $color-searchbar-text;
    
    cursor: text;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    border:
    {
      top: 1px dotted $color-searchbar-border;
      bottom: 1px dotted $color-searchbar-border;
      left: 1px dotted $color-searchbar-border;
      right: 1px dotted $color-searchbar-border;
    }
    
    padding:
    {
      top: 4pt;
      bottom: 4pt;
      left: 6pt;
      right: 6pt;
    }
    
    font:
    {
      family: $font-chain-searchbars;
      weight: 400;
      size: 12pt;
    }
    
    &:focus,
    &:hover,
    &:active
    {
      background: $color-searchbar-background-focus;
      outline: none;
    }
  }
  
  select[id^="ingredient-effects-dropdown"]
  {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    margin: 0;
    
    background: $color-searchbar-background;
    color: $color-searchbar-text;
    
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    border:
    {
      top: 0;
      bottom: 1px dotted $color-searchbar-border;
      left: 1px dotted $color-searchbar-border;
      right: 1px dotted $color-searchbar-border;
    }
    
    padding:
    {
      top: 4pt;
      bottom: 4pt;
      left: 2pt;
      right: 2pt;
    }
    
    font:
    {
      family: $font-chain-searchbars;
      weight: 400;
      size: 12pt;
    }
    
    &:first-of-type { border-bottom-left-radius: 4pt; }
    &:last-of-type { border-bottom-right-radius: 4pt; }
    &:not(:first-of-type) { border-left: 0; }
    
    &:focus,
    &:hover,
    &:active
    {
      background: $color-searchbar-background-focus;
      outline: none;
    }
  }
}
