@import "colors";

div#ingredient-search-results
{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  
  width: 100%;
  height: 50vh;
  
  background: $color-form-background;
  border: 1px solid $color-form-border;
  border-radius: 4pt;
  
  padding: 4pt;
  margin: 0;
  
  div.ingredient-search-result
  {
    display: inline-block;
    font-size: 12pt;
  }
}
