@import "html5";
@import "colors";
@import "breakpoints";

ol#themes-list
{
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: flex-end;
  
  width: 100%;
  max-width: $breakpoint-alpha;
  border: 0;
  padding: 0;
  margin: 0;
  
  &>li.themes-button
  {
    display: inline-block;
    height: 24pt;
    
    color: $color-body-text;
    background: $color-foreground;
    border: 0;
    border-radius: 8pt 8pt 0 0;
    
    text-align: center;
    line-height: 24pt;
    
    cursor: pointer;
    @include user-select(none);
    
    font:
    {
      family: "Merienda", sans-serif;
      weight: 500;
      size: 12pt;
    }
    
    padding:
    {
      top: 4pt;
      bottom: 4pt;
      left: 16pt;
      right: 16pt;
    }
    
    margin:
    {
      top: 4pt;
      bottom: 0;
      left: 0;
      right: 0;
    }
    
    &:focus,
    &:hover,
    &:active
    {
      height: 28pt;
      line-height: 28pt;
      margin-top: 0;
    }
    
    @include when-under-breakpoint($breakpoint-echo)
    {
      display: inline;
      background: transparent;
      padding: 0;
      
      margin:
      {
        top: 4pt;
        bottom: 4pt;
        left: 8pt;
        right: 8pt;
      }
      
      &:focus,
      &:hover,
      &:active
      {
        height: auto;
        line-height: 24pt;
        margin-top: 4pt;
      }
    }
  }
  
  @include when-under-breakpoint($breakpoint-echo)
  {
    flex-wrap: wrap;
    justify-content: center;
  }
}
